/* Selector Universal
 * Apply to all elements 
 */
* {
    color: black;
    background: black;
    
    font-size: 100%;
    font-family: Arial;
   
    /* This properties can be replaced by only padding */
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
    /*Like this*/
    margin: 10px 10px 10px 10px;
}


/* Selector Tag
 * 
 */
img {
    background: white; 
}

b {
    background: white;
}

a {
    background: white;
    text-decoration: underline;
}

h1 {
    color:white;
    font-size: 3em;
    
    background: white;
    text-shadow: 3px 3px 4px gray;
}

h2 {
    color: grey;
    background: white;
    font-size: 2em;
    text-indent: 30px;
}


h3 {
    color: grey;
    background: white;
    font-size: 2em;
}


p {
    text-indent: 20px;
    background: white;
}

form {
    background: white;
}

input {
    background: white;
}

/* Selector classes
 *
 */
.group_form,message {
    background: white;
}

.box-contact {
    background: white;
}

.header {
    background: white;
    border-radius: 50px 20px;
    height: 300px;
}

.tools {
    background: white;
    border-radius: 50px 20px;
}

.contact {
    background: white;
    border-radius: 50px 20px;
}

.footer {
    background: white;
    border-radius: 50px 20px;
}

.tools-line{
    padding:0px;
    clear:both;
}

.tools-column{    
    /*border: 1px solid #000000;*/
    width:29%;      
    float:left;
    background: white;
}

/* Selector ID
 *
 */
#header {
       
}

#header-left {
    height: 15%;
    float: left;
}

#header-right {
    width: 85%;
    height: 80px;
    float: right;
}

#box-message {
    width: 60%;
    float: left;
}

#channels {
    width: 30%;
    float:right;
}

