/* Selector Universal
 * Apply to all elements 
 */
* {
   
    font-size: 100%;
    font-family: Arial;
   
    /* This properties can be replaced by only padding */
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
    /*Like this*/
    margin: 10px 10px 10px 10px;
}


/* Selector Tag
 * 
 */
body {
    background-color: black;
}


img {
    background: white; 
}

b {
    background: white;
}

a {
    color: blue;
    background: white;
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    
    background: white;
    text-shadow: 3px 3px 4px gray;
}

h2 {
    color: grey;
    background: white;
    font-size: 2em;
    text-indent: 30px;
}


h3 {
    color: grey;
    background: white;
    font-size: 2em;
}


p {
    text-indent: 20px;
    background: white;
    color: black;
}

form {
    background: white;
}

input {
    background: white;
}

li {
    background: white;
}

ul {
    background: white;
}

/* Selector classes
 *
 */
.header {
    background: white;
    border-radius: 50px 20px;
    height: 350px;
}

.tools {
    background: white;
    border-radius: 50px 20px;
}

.contact {
    background: white;
    border-radius: 50px 20px;
    height: 600px;
}

.footer {
    background: white;
    border-radius: 50px 20px;
}

.tools-line{
    padding:0;
    clear:both;
}

.tools-column{    
    width:29%;      
    color: black;
    display:inline-block;
}

.message {
    background: white;
    float: left;
}

.channels {
    background: white;
    float: right;
}

/* Selector ID
 *
 */
#header-left {
    height: 15%;
    float: left;
}

#header-right {
    width: 85%;
    height: 80px;
    float: right;
}


.list-channels *{
    padding: 0;
    margin: 0;
}

.list-channels{
    margin-bottom: 10px;
}
.list-channels li{
    display: block;
}

.list-channels img{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
/*
.inner-space{
    padding-bottom: 10px;
    background: blue;
}
*/
